<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>TJW 2024.2</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/image/favicon.png" />

  <!-- Bootstrap core CSS -->
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
<header>
  <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="btn btn-dark navbar-toggle pull-left">
          <i class="oi oi-menu"></i>
        </button>
        <a class="navbar-brand " href="#">TJW 2024.2</a>
      </div>
    </div>
  </nav>
</header>

<div class="layout-main">

  <aside>
    <nav class="sidebar sidebar-open">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link " href="/"> <i class="oi oi-home"></i> <span>Home</span>
        </a></li>
      </ul>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" href="#alunosMenu" role="button" aria-expanded="false" aria-controls="alunosMenu">
            Alunos
          </a>
        </li>
        <div class="collapse" id="alunosMenu">
          <li class="nav-item"><a class="nav-link" href="/alunos/cadastrar"><i class="oi oi-plus"></i> Cadastrar</a></li>
          <li class="nav-item"><a class="nav-link" href="/alunos/listar"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </div>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" href="#disciplinasMenu" role="button" aria-expanded="false" aria-controls="disciplinasMenu">
            Disciplinas
          </a>
        </li>
        <div class="collapse" id="disciplinasMenu">
          <li class="nav-item"><a class="nav-link" href="/disciplinas/cadastrar"><i class="oi oi-plus"></i> Cadastrar</a></li>
          <li class="nav-item"><a class="nav-link" href="/disciplinas/listar"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </div>
      </ul>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" href="#semestresMenu" role="button" aria-expanded="false" aria-controls="semestresMenu">
            Semestres
          </a>
        </li>
        <div class="collapse" id="semestresMenu">
          <li class="nav-item"><a class="nav-link" href="/semestres/cadastrar"><i class="oi oi-plus"></i> Cadastrar</a></li>
          <li class="nav-item"><a class="nav-link" href="/semestres/listar"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </div>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" href="#turmasMenu" role="button" aria-expanded="false" aria-controls="turmasMenu">
            Turmas
          </a>
        </li>
        <div class="collapse" id="turmasMenu">
          <li class="nav-item"><a class="nav-link" href="/turmas/cadastrar"><i class="oi oi-plus"></i> Cadastrar</a></li>
          <li class="nav-item"><a class="nav-link" href="/turmas/listar"><i class="oi oi-spreadsheet"></i> Listar</a></li>
          <li class="nav-item"><a class="nav-link" href="/alunos/associar"><i class="oi oi-spreadsheet"></i>Associar Aluno com Turma</a></li>
        </div>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="collapse" href="#alunoTurmasMenu" role="button" aria-expanded="false" aria-controls="alunoTurmasMenu">
            Aluno - Turma
          </a>
        </li>
        <div class="collapse" id="alunoTurmasMenu">
          <li class="nav-item"><a class="nav-link" href="/alunoturmas/associar"><i class="oi oi-spreadsheet"></i>Associar</a></li>
          <li class="nav-item"><a class="nav-link" href="/alunoturmas/listar"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </div>
      </ul>
    </nav>
  </aside>

  <section class="layout-content">



    <div class="container">

    </div>

  </section>

</div>
<footer class="layout-footer">
  <div class="container">
    <span class="footer-copy"></span>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

  $(function () {
      $('[data-toggle="popover"]').popover();
  });

  $(document).ready(function () {
      $(".navbar-toggle").click(function () {
          $(".sidebar").toggleClass("sidebar-open");
      })
  });

</script>
</body>

</html>